.custom-section-container1 {
  display: contents;
}
 
.custom-section-container2 {
  display: none;
}
 
.custom-section-container3 {
  display: contents;
}
 
.custom-section-text18 {
  font-weight: 700;
}
 
.custom-section-text25 {
  font-weight: 700;
}
