.footer-container10 {
  display: contents;
}
 
.footer-container11 {
  display: none;
}
 
.footer-container12 {
  display: contents;
}
 
.footer-container13 {
  display: none;
}
 
.footer-container14 {
  display: contents;
}
 
.footer-image {
  width: 200px;
  object-fit: cover;
}
 
.footer-thq-footer-column-elm3 {
  display: none;
}
 
.footer-thq-footer-link-elm19 {
  display: none;
}
 
.footer-thq-footer-link-elm24 {
  text-decoration: none;
}
 
.footer-container18 {
  text-decoration: none;
}
 
.footer-thq-btn-elm1 {
  text-decoration: none;
}
