.navigation-container10 {
  display: contents;
}
 
.navigation-container11 {
  display: none;
}
 
.navigation-container12 {
  display: contents;
}
 
.navigation-container13 {
  display: none;
}
 
.navigation-container14 {
  display: contents;
}
 
.navigation-container15 {
  display: none;
}
 
.navigation-container16 {
  display: contents;
}
 
.navigation-container17 {
  display: none;
}
 
.navigation-container18 {
  display: contents;
}
 
.navigation-container21 {
  text-decoration: none;
}
 
.navigation-container24 {
  text-decoration: none;
}
 
.navigation-container25 {
  text-decoration: none;
}
 
.navigation-container26 {
  text-decoration: none;
}
 
.navigation-container27 {
  display: none;
  text-decoration: none;
}
 
.navigation-container28 {
  text-decoration: none;
}
 
.navigation-thq-nav-korpusmenu-item-elm6 {
  display: none;
}
 
.navigation-container29 {
  text-decoration: none;
}
 
.navigation-container30 {
  text-decoration: none;
}
 
.navigation-thq-nav-korpustheme-icon1-elm {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  position: absolute;
  transform: translateY(0) rotate(0deg);
  transition: transform 0.4s var(--animation-curve-primary),
      opacity 0.4s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-thq-nav-korpustheme-icon2-elm {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  position: absolute;
  transform: translateY(100%) rotate(180deg);
  transition: transform 0.4s var(--animation-curve-primary),
      opacity 0.4s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-container31 {
  text-decoration: none;
}
 
.navigation-thq-nav-korpusmobile-icon1-elm {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: transform 0.3s var(--animation-curve-primary),
      opacity 0.3s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-thq-nav-korpusmobile-icon2-elm {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  position: absolute;
  transform: rotate(90deg);
  transition: transform 0.3s var(--animation-curve-primary),
      opacity 0.3s var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
